@import "tailwindcss";
@plugin "daisyui";


@font-face {
  font-family: 'Avenir-Light';
  src: url("../src/assets/fonts/PlusJakartaSans-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url("../src/assets/fonts/AvenirLTProRoman.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Bold';
  src: url("../src/assets/fonts/RedHatText-Bold.ttf");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-avenir: 'Avenir-Light', sans-serif;
  --font-avenir-medium: 'Avenir-Medium', sans-serif;
  --font-avenir-bold: 'Avenir-Bold', sans-serif;
}

@keyframes pulsation {
  from {
    background-color: white; 
  }
  to {
    background-color: rgb(245, 172, 172);
  }
}

.clignotant {
  animation: pulsation 0.6s infinite alternate; 
}